:root {
    --body-bg-color: #269;
    --main-bg-color: #4226a834;
    --secondary-bg-color: #4226a880;
    --main-font-color: #000;
    --main-font-shadow-color: lightgrey;
    --main-border-radius: 5px;
    --headline-color: #eee;
    --code-bg-color: rgba(211, 129, 255, 0.15);
    --code-border-color: var(--main-bg-color);
    --code-font-color: white;
    --blockquote-bg-color: rgba(178, 198, 241, 0.76);
    --link-font-color: #000aa6;
    --basic-margin: 1em;
    font-family: sans-serif;
}

body {
    background-color: var(--body-bg-color);
    background-image: linear-gradient(rgba(56, 0, 255, 0.17) 2px, transparent 2px), linear-gradient(90deg, rgba(56, 0, 255, 0.17) 2px, transparent 2px), linear-gradient(rgba(56, 0, 255, 0.17) 1px, transparent 1px), linear-gradient(90deg, rgba(56, 0, 255, 0.17) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    color: var(--main-font-color);
}

a {
    color: var(--link-font-color);
}

h1,
h2 {
    text-align: left;
    background-color: var(--secondary-bg-color);
    padding: 5px 10px;
    border-radius: var(--main-border-radius);
    color: var(--headline-color);
    font-size: 1.5em;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: lighter;
}

h2 {
    background-color: var(--main-bg-color);
    filter: drop-shadow(0 0 2px var(--main-font-color));
    font-size: 1.3em;
}

p {
    margin: var(--basic-margin);
}

hr {
    border-color: var(--main-bg-color);
}

blockquote {
    border-left: 2px solid var(--main-bg-color);
    padding: 5px;
}

.content {
    columns: 400px 2;
    column-rule: dashed var(--main-bg-color);
}

.row {
    display: block;
    padding: 1vw;
    break-inside: avoid;
}

header {
    font-size: 3em;
    text-align: center;
    padding: 0.5em;
    background-color: var(--main-bg-color);
    border-radius: var(--main-border-radius);
    color: var(--headline-color);
    font-family: monospace;
    letter-spacing: .2em;
    font-weight: bold;
    margin: 0 1vw;
    filter: drop-shadow(0 0 2px var(--main-font-color));
}

.hljs-comment,
.hljs-quote {
    color: #969896;
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
    color: #c66;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
    color: #de935f;
}

.hljs-attribute {
    color: #f0c674;
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
    color: #b5bd68;
}

.hljs-section,
.hljs-title {
    color: #81a2be;
}

.hljs-keyword,
.hljs-selector-tag {
    color: #b294bb;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #332237;
    color: #c5c8c6;
    padding: 0.5em;
    border-radius: 5px;
    margin: calc(0.5em + var(--basic-margin));
    box-shadow: 3px 3px #00000082;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}